html{
    min-height: 100%;

}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    background-size: 100%;
    background-position: bottom;
    
    background-image: linear-gradient(to bottom, rgb(154, 154, 155) , rgb(173, 173, 173)); 

}

form{
    padding: 20px 30px;
    margin : 10% 20% 10% 20%; 
    border-radius: 0.5em;
    box-shadow: 1em;
  }

form button , form h5{
    margin: 20px 0px ;
    
}

form button {
    margin-left: 86%;
}

.signUp-container > form{
    padding: 10px 20px;
    margin : 2% 10%; 
    border-radius: 0.5em;
    box-shadow: 1em;
   
}


.sidenav   li > a{
    color: rgb(241, 241, 241) ;
}




.offsetC{
    padding-left: 300px;
    /* margin-left: 300px; */
}
@media only screen and (max-width : 992px) {
    .offsetC {
      padding-left: 0;
    }
}


.navIcon >li{
    padding: 0 10px;
}
.navContainer{
    padding: 0 10px;
}


/* Mainboard */

.mainCard {
    height:  150%;
    background-color: blueviolet;
}

.mainTable {
    padding-top: 5%  ;
   
}