
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');
/* font-family: 'Noto Sans Display', sans-serif; */
html{
    min-height: 100%;

}


body {
    
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Display', sans-serif;
    
    background-size: 100%;
    background-position: bottom;
    
    background-image: linear-gradient(to bottom, rgb(251, 251, 255) , rgb(145, 153, 226)); 
    
}

form{
    padding: 20px 30px;
    margin : 10% 20% 10% 20%; 
    border-radius: 0.5em;
    
}
@media only screen and (max-width : 992px) {
    form {
        padding: 5px 20px;
        margin :15% 8% ;
        border-radius: 0.5em;
       
    }
}

form button , form h5{
    margin: 20px 0px ;
    
} 


.signUp-container > form{
    padding: 10px 20px;
    margin : 2% 10%; 
    border-radius: 0.5em;
    box-shadow: 1em;
   
}






.offsetC{
    padding-left: 300px;
    /* margin-left: 300px; */
}

.container2{
    padding-left: 10%;
    width: 80%;
}
@media only screen and (max-width : 992px) {
    .offsetC {
      padding-left: 0;
    }
}


.navIcon li{
    padding: 0 10px;
}
.navContainer{
    padding: 0 10px;
}




/* Mainboard */

.mainBoard .topic{
    margin: 2rem 0rem 0 0;  
}
.topic h5{
    color: rgb(0, 0, 0);
}
.topic p{
    color: rgb(186, 185, 189);
    font-size: 1.1rem;
    padding: 0% 0.%;
    margin: 0;
}
.mainCard {
    padding: 2rem;
    margin-top: 3rem;
    font-size:  1.2rem;
    text-align:  center;
    border-radius: 0.2rem;
}
.mainCard i {
    vertical-align: text-bottom;
}
.mainCard span {
    margin: 0 5%;
    font-size: 0.9rem;

}

.mainTable {
    margin-top: 5%  ;
    border-radius: 0.2rem;
   
}
.mainTable h5 {
    padding: 1rem 1rem 1rem 0;
    
}


.mainChart {
    margin-top: 5%  ;
    border-radius: 0.2rem;
   
}
.mainChart h5 {
    padding: 1rem 1rem 1rem 0;
    
}


/* home */
.home{
    margin: 3vh;
    height: 85vh;
    border-top: 1vh;
    background-image: url("https://thumbs.dreamstime.com/b/delivery-man-parcel-box-ringing-door-bell-home-service-mail-people-shipment-concept-customers-98428939.jpg");
    
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.heroText{
    text-align: left;
    position: absolute;
    top:5%;
    left: 10%;
    color: white;
}
.heroText p {
    color:rgb(0, 0, 0);
    max-width: 50%;
}

.heroButtons {
   
    width: 60%;  
    margin: 5% 0 ;
}


.heroButtons span{
    margin-left: 5%;
   
    padding:2%;
    font-size: 1.5rem;
   
}
.heroButtons a{
    margin: 2% 0% 2% 2%;
    
}

@media only screen and (max-width : 992px) {
    .heroButtons {
   
        width: 100%;  
        margin: 5% 0 ;
    }

    .heroButtons span{
        margin-left: 5%;
       
        padding:2%;
        font-size: 1rem;
       
    }
    .heroText p {
        color:rgb(0, 0, 0);
        max-width: 80%;
    }
    
}

.download{
    margin-top: 3vh;
}

.font1{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 2rem !important;

}

.faq{
    margin-top: 3vh;
}

